body {
    margin: 0;
    background-color: #242424;
    text-align: center;
}

h1 {
    color: #ececec;
    font-family: 'Lucida Console';
    margin: 10px;
}

canvas {
    display: block;
    margin: 0 auto;
    border: solid #ececec 2px;
}